.footer{

position:relative;

background:#050505;

padding:70px 8% 25px;

overflow:hidden;

border-top:1px solid rgba(255,255,255,.08);

}



.footerGlow{

position:absolute;

top:-120px;

left:50%;

transform:translateX(-50%);

width:450px;

height:450px;

background:#ff3cac;

filter:blur(180px);

opacity:.15;

}



.footerContainer{

position:relative;

z-index:2;

display:grid;

grid-template-columns:

2fr

1fr

1fr

1.5fr;

gap:50px;

}



.footerBrand h1{

font-size:38px;

font-weight:900;

background:linear-gradient(

90deg,

#ff3cac,

#784ba0,

#2b86c5

);

-webkit-background-clip:text;
	background-clip:text;
-webkit-text-fill-color:transparent;

margin-bottom:20px;

}



.footerBrand p{

color:#bdbdbd;

font-size:16px;

line-height:30px;

max-width:350px;

}



.footerSocial{

display:flex;

gap:15px;

margin-top:30px;

}



.footerSocial a{

width:50px;

height:50px;

display:flex;

align-items:center;

justify-content:center;

font-size:22px;

border-radius:50%;

background:#111;

text-decoration:none;

transition:.4s;

}



.footerSocial a:hover{

transform:translateY(-8px);

background:#ff3cac;

box-shadow:

0 0 25px

#ff3cac;

}



.footerLinks h2,

.footerContact h2{

font-size:24px;

margin-bottom:25px;

color:white;

}



.footerLinks{

display:flex;

flex-direction:column;

}



.footerLinks a{

text-decoration:none;

color:#bdbdbd;

margin-bottom:16px;

transition:.3s;

}



.footerLinks a:hover{

color:#ff3cac;

padding-left:8px;

}



.footerContact p{

color:#bdbdbd;

margin-bottom:18px;

font-size:16px;

}



.footerContact button{

margin-top:20px;

padding:14px 30px;

border:none;

border-radius:35px;

background:linear-gradient(

90deg,

#ff3cac,

#784ba0

);

color:white;

font-size:16px;

font-weight:700;

cursor:pointer;

transition:.4s;

}



.footerContact button:hover{

transform:translateY(-6px);

box-shadow:

0 0 30px

rgba(255,60,172,.5);

}



.footerBottom{

margin-top:60px;

padding-top:25px;

text-align:center;

color:#888;

border-top:

1px solid

rgba(255,255,255,.08);

font-size:15px;

}



@media(max-width:900px){

.footerContainer{

grid-template-columns:1fr;

text-align:center;

}

.footerBrand p{

max-width:100%;

}

.footerSocial{

justify-content:center;

}

}