.pass-container {
  padding: 20px;
  background: #0f172a;
  min-height: 100vh;
  color: white;
}

.pass-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.pass-header input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 250px;
}

.pass-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.pass-card {
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
  transition: 0.3s;
}

.pass-card:hover {
  transform: translateY(-5px);
}

.pass-card h2 {
  color: #38bdf8;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.edit {
  background: #22c55e;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.delete {
  background: #ef4444;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}